body{
font-family: 'Titillium Web', sans-serif;
}
#testimonio{
  background: #f1f1f1;
  padding: 50px 30px 0;
  text-align: center;
  margin-top: 40px;
}
footer{
  background: url(../img/contacto.jpg);
}
#li1:hover,#li2:hover,#li3:hover,#li4:hover{
  background: #9c9c9c;
}
